.vscode
*.o
*.gcda
*.gcno
playdom.exe
playdom 
player 
player.exe 
*.gcov 
*.gcda 
*.gcno 
*.so 
testDrawCard 
testDrawCard.exe
badTestDrawCard 
unittest1
unittest2
unittest3
unittest4
cardtest1
cardtest2
cardtest3
cardtest4
*.plist
.DS_Store
*workspace.xml