*.o
*.gcno
*.gcov
*.gcda
randomtestadventurer.out
randomtestcard1.out
randomtestcard2.out
randomtestresults.out
unittestresults.out
badTestDrawCard
playdom
player
testDrawCard
unittest1
unittest2
unittest3
unittest4
cardtest1
cardtest2
cardtest3
cardtest4
randomtestadventurer
randomtestcard1
randomtestcard2
